@page{
  margin: 0.5cm;
}

/* table */
table{
  width: 100%;
}

table th{
  font-weight: bold;
}

table, table th, table td{
  border: 0.05cm solid #000;
}

table th, table td{
  padding:0.2cm;
}

/* Lists */
ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counters(item, ".") " "; counter-increment: item;
}

/* image */
img{
  width: 100%;
  border:none;
}

/* links */
a, a:visited {
  text-decoration: underline;
}

a:link:after, a:visited:after {
  content: " (" attr(href) ") ";
}

/* borders */
.border{
  border:0.05cm solid #000;
}

.border-right{
  border-right: 0.05cm solid #000;
}

.border-left{
  border-left: 0.05cm solid #000;
}

.border-top{
  border-top: 0.05cm solid #000;
}

.border-bottom{
  border-bottom: 0.05cm solid #000;
}

/* Well */
.well {
  padding: 1.0%;
  background: #C9C9C9;
}

/* no print */
.no-print{
  display: block;
}

/* screen version */
@media print{
  .screen{
    display: none !important;
  }
}

@media screen{
  .screen{
    display: block !important;
  }
}
