body{
  font-family: arial;
  font-size:1.0em;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
}

p{
  widows: 3;
  orphans: 3;
}

b, strong {
  font-weight: bold;
}

/* sizes */
.font-10{
  font-size: 1.0em;
}

.font-12{
  font-size: 1.2em;
}

.font-14{
  font-size: 1.4em;
}

.font-16{
  font-size: 1.6em;
}

.font-18{
  font-size: 1.8em;
}

.font-20{
  font-size: 2.0em;
}

.font-22{
  font-size: 2.2em;
}

.font-24{
  font-size: 2.4em;
}

.font-26{
  font-size: 2.6em;
}

/* align */
.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

/* types */
.font-serif{
  font-family:"Times New Roman", Times, serif;
}
