/* page, rows and coluns */
.page{
  width: 99.78%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.row{
  width: 100%;
  display: table;
  height: auto;
}

.col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
  height: auto;
  float: left;
  padding:0.2cm;
  display: block;
}

.col-6{
  width: 100%;
}

.col-5{
  width: 83.3333333335%;
}

.col-4{
  width: 66.6666666668%;
}

.col-3{
  width: 50.0000000001%;
}

.col-2{
  width: 33.3333333334%;
}

.col-1{
  width: 16.6666666667%;
}

/* Centralizes columns */
.col-center{
  float: none;
  margin: 0 auto;
}
