/* page, rows and coluns */
.page{
  width: 99.78%;
  height: 99.78%;
  display: block;
}

.row{
  width: 100%;
  display: table;
  height: auto;
}

.col-5, .col-4, .col-3, .col-2, .col-1{
  height: auto;
  float: left;
  padding:2.0%;
  display: block;
}

.col-5{
  width: 100%;
}

.col-4{
  width: 80%;
}

.col-3{
  width: 60%;
}

.col-2{
  width: 40%;
}

.col-1{
  width: 20%;
}

@media screen{
  .page{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  body{
    margin: 0 auto;
  }

  body[data-mode='a4-portrait']{
    width: 21.0cm;
    height: 29.7cm;
  }

  body[data-mode='a4-landscape']{
    width: 29.7cm;
    height: 21.0cm;
  }
}